$primary-color: #ff5f83;
$cl1: #111;
$ptc: #ddd;
$tbc: #353535;
$ovc1: rgba(0, 0, 0, 0.7);
$ovc2: rgba(255, 95, 131, 0.5);
$soc1: rgba(230, 102, 102, 0.5);
$ovc3: rgba(255, 95, 130, 0.7);
$soc2: rgba(129, 130, 135, 0.5);
$ovc4: rgba(0, 0, 0, 0.9);
$ovc5: rgba(0, 0, 0, 0.95);
$sc: #ccc;
